/surgeon
dist/
.envrc
public/
.task/
/dist
dist/
!internal/pipe/dist
bin/
coverage.txt
debug.test
snap.login
completions/
.vscode/
.task/
.idea/
manpages
output.json
.direnv
.envrc
*.pyc
.intentionally-empty-file.o
